.erda-market {
  padding-top: 0 !important;
}

.market {
  padding-top: 0 !important;

  &.fixed-with-head, &.fixed-with-window {
    .service-market-tab {
      transition: none;
    }

    .market-content {
      .detail {
        margin-left: 15rem;
      }
    }
  }

  &.no-margin-left {
    .market-content {
      .detail {
        margin-left: 0;
      }
    }
  }

  .full-width-header {
    height: 330px;
    @include pageHeaderBg();
  }

  .market-header {
    height: 100%;

    .title-name {
      color: $white;
      font-weight: bold;
      font-size: 40px;
      line-height: 1.75rem;
      text-align: center;
    }

    .title-desc {
      color: $white;
    }
  }

  .market-content {
    display: flex;
    max-width: 1200px;
    min-height: calc(100vh - (330px + 56px + #{$footer-height}));
    margin: 0 auto;
    padding: 2.5rem .75rem;

    .detail {
      width: 100%;
      margin-left: 40px;
    }
  }
}

@include sm-width() {
  .market {
    &.fixed-with-head, &.fixed-with-window {
      .market-content {
        .detail {
          margin-left: 0;
        }
      }
    }

    &.no-margin-left {
      .market-content {
        .detail {
          margin-left: 0;
        }
      }
    }

    .market-header {
      height: 250px;
      background-size: 375px 198px;
    }

    .market-content {
      margin: 0 auto;

      .detail {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}
