.erda-market{
  padding-top: 0 !important;
}
.market {
  padding-top: 0 !important;

  &.fixed-with-head,
  &.fixed-with-window {
    .service-market-tab{
      transition: none;
    }
    .market-content {
      .detail {
        margin-left: 15rem;
      }
    }
  }

  &.no-margin-left{
    .market-content {
      .detail {
        margin-left: 0px;
      }
    }
  }
  .full-width-header{
    height: 330px;
    background-image: radial-gradient(28% 104%, #3D33A7 1%, #2A0C5A 100%);
  }

  .market-header {
    height: 100%;
    .title-name{
      text-align: center;
      font-size: 40px;
      color: $white;
      font-weight: bold;
      line-height: 1.75rem;
    }
    .title-desc{
      color: $white;
    }
  }

  .market-content {
    display: flex;
    max-width: 1200px;
    min-height: 500px;
    margin: 0 auto;
    padding: 2.5rem .75rem;

    .detail {
      width: 100%;
      margin-left: 40px;
    }
  }
}
@include sm-width() {
  .market {
    &.fixed-with-head,
    &.fixed-with-window {
      .market-content {
        .detail {
          margin-left: 0;
        }
      }
    }
    &.no-margin-left{
      .market-content {
        .detail {
          margin-left: 0;
        }
      }
    }

    .market-header {
      height: 250px;
      background-size: 375px 198px;
    }

    .market-content {
      margin: 0 auto;

      .detail {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}
