$color-green: #49cc90;
$color-orange: #fca130;
$color-red: #f93e3e;
$color-blue: #61affe;
$color-purple: #8571eb;
$color-active-bg: $primary-1;
$color-border: $light-gray;
$line-height: 3.5rem;

.parsing-tip {
  height: 70vh;
  background-color: $white;
}

.empty-wrapper {
  overflow: hidden;
  background-color: $white;

  > div {
    margin-top: 0;
  }
}

.swagger-ui {
  .api-search {
    background-color: $white;
  }

  .api-list {
    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;

    .api-group-list {
      position: absolute;
      top: 48px;
      bottom: 0;
      width: 100%;
      overflow: auto;
    }

    .api-group {
      li {
        display: flex;
        padding: .3rem;
        border-radius: 3px;
        cursor: pointer;

        &.active,
        &:hover {
          background-color: $color-active-bg;
        }
      }
    }

    .method-wrapper {
      width: 50px;
      text-align: center;
    }

    .api-summary {
      margin-left: 6px;
      color: $color-dark-4;
    }
  }

  .api-method {
    padding: 0 4px;
    color: $whitesmoke;
    font-weight: 700;
    border-radius: 3px;

    &.get {
      background-color: $color-green;
    }

    &.put {
      background-color: $color-orange;
    }

    &.post {
      background-color: $color-blue;
    }

    &.delete {
      background-color: $color-red;
    }

    &.patch {
      background-color: $color-purple;
    }
  }

  .api-detail {
    overflow: auto;

    .api-detail-item {
      margin-bottom: 2rem;
      padding: 0 1rem;
      background-color: $white;
      border-radius: 4px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .api-title {
      display: flex;
      align-items: center;
      padding: .5rem 0;
      color: $text-normal;

      .api-method {
        padding: .2rem .5rem;
      }
    }

    .api-path {
      margin: 0 .5rem;
      font-weight: 700;
      font-size: 18px;
    }

    .api-desc {
      color: $color-dark-4;
      line-height: 2;
    }

    .api-section-title {
      height: 3rem;
      font-weight: bold;
      font-size: 18px;
      line-height: 3rem;
      border-top: 1px solid $color-border;
    }

    .api-section {
      padding-left: 2rem;

      &::after {
        display: block;
        width: 100%;
        height: 0;
        margin: .5rem 0;
        border-bottom: 1px dashed $color-border;
        content: "";
      }

      &:last-child {
        &::after {
          content: none;
        }
      }
    }

    .lh {
      line-height: 4rem;
    }

    .param-required {
      color: $color-red;
    }

    .param-type {
      font-family: monospace;
    }

    .param-position {
      color: $color-dark-4;
      font-family: monospace;
      font-style: italic;
    }

    .api-mock-data {
      margin: 0;
      padding: 10px;
      color: #ffffff;
      font-weight: 600;
      font-size: 12px;
      font-family: monospace;
      line-height: 1.5;
      white-space: pre-wrap;
      word-wrap: break-word;
      overflow-wrap: break-word;
      hyphens: auto;
      background: #41444e;
      border-radius: 4px;
    }

    .mock-wrap {
      position: relative;

      .json-copy-btn {
        position: absolute;
        top: 6px;
        right: 6px;
        width: 26px;
        height: 26px;
        color: $gray;
        border-color: $gray;
        cursor: pointer;

        &:hover {
          color: $light-gray;
          border-color: $light-gray;
        }
      }
    }

    .key {
      font-weight: bold;
    }

    .api-resp {
      line-height: 2rem;
    }
  }
}
