.erda-temp-footer {
  height: $footer-height;
  background: #fafbfc;

  .link-wrap {
    span {
      color: #586069;
      line-height: 1.5;
    }

    a {
      color: #586069;
      line-height: 1.5;

      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }
  }

  .right-wrapper {
    i {
      color: #586069;

      &:hover {
        color: $primary;
      }
    }
  }
}
