.erda-input-control {
  position: relative;
  width: 100%;

  .ant-input-affix-wrapper, .ant-input {
    padding: 0;
    border: none;
    border-bottom: 1px solid #dadadf;
    outline: none;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  input {
    background: transparent !important;
    border: none;
    border-radius: 0;
    outline: none;

    &:focus {
      border: none;
      box-shadow: none !important;
    }

    &:hover {
      border-bottom: 1px solid #dadadf;
    }
  }

  .input-wrap {
    position: relative;

    .suffix {
      position: absolute;
      top: 0;
      right: 0;
      align-content: center;
      height: 100%;
    }
  }

  .input-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 22px;
    color: #000000;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    opacity: .15;
    transition: all .3s ease-in-out;
  }

  .under-line {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 0;
    height: 1px;
    background: $primary;
    opacity: 0;
    transition: all .4s ease-in-out;
  }

  &.input-focus {
    .under-line {
      left: 0;
      width: 100%;
      opacity: 1;
    }

    .input-name {
      top: -16px;
      height: 20px;
      color: $primary;
      font-size: 12px;
      line-height: 20px;
      opacity: 1;
    }
  }
}
