.site-loginpanel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 3.75rem;
  @include sm-width() {
    display: none;
  }

  .login-item {
    margin-left: 10px;
    cursor: pointer;

    > a {
      color: rgba(#f7f9ff, 0.7);
    }
  }

  .free-registration {
    height: 32px;
    padding: 0 12px;
    color: rgba(#f7f9ff, 0.7);
    line-height: 30px;
    text-align: center;
    border: 1px solid rgba(#f7f9ff, 0.7);
    border-radius: 16px;

    &:hover {
      color: $primary;
      background: $white;
    }
  }
}
