.erda-accordion {
  .erda-accordion-header {
    &-icon {
      width: 30px;
      height: 30px;
      overflow: hidden;

      i {
        font-size: 30px;
      }
    }

    &-text {
      line-height: 32px;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
    padding-bottom: 8px;
  }

  .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
    padding-top: 0;
  }

  .erda-accordion-body {
    font-size: 16px;
    color: rgba(40, 69, 95, .7);
    line-height: 28px;
    min-height: 56px;
  }

  .ant-collapse-item {
    border: none;
  }

  .ant-collapse-item-active {
    position: relative;
    background-color: #ececfe;
    border-radius: 2px 8px 8px 2px;

    &:before {
      display: block;
      content: '';
      width: 8px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border-radius: 2px 0 0 2px;
      background-image: linear-gradient(180deg, #B2A7F9 0%, #5347CD 100%);
    }

    .ant-collapse-content {
      border: none;
      background: transparent;
    }
  }

  .ant-collapse-content {

  }
}
