.erda-quote-card {
  position: relative;
  background-color: #ececfe;
  border-radius: 2px 8px 8px 2px;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 8px;
    background-image: linear-gradient(180deg, #b2a7f9 0%, #5347cd 100%);
    border-radius: 2px 0 0 2px;
    content: "";
  }

  .erda-quote-card-body {
    color: rgba(40, 69, 95, 0.7);
    font-size: 16px;
    line-height: 28px;
  }

  &-title {
    &-icon {
      width: 24px;
      height: 24px;
    }

    &-text {
      height: 32px;
      font-size: 20px;
      line-height: 32px;
    }
  }
}
