<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Erda Cloud</title>
    <meta name="keywords" content="Dice,Terminus,PaaS,Site">
    <meta name="description" content="企业数字化平台（Erda Cloud）是自研的云原生PaaS平台，支撑了所有的业务产品和解决方案。作为企业构建核心业务系统的IT底座，可以帮助企业加快数字化转型步伐">
    <meta name="theme-color" content="<%= htmlWebpackPlugin.options.themeColor %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <!-- dice iconfont -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1157118_wqu34qrwms.css">
    <script src="/ta"></script>
    <script>
      var _taConfig = window._taConfig;
      if (_taConfig && _taConfig.enabled) {
        !function(e,n,r,t,a,o,c){e[a]=e[a]||function(){(e[a].q=e[a].q||[]).push(arguments)},e.onerror=function(n,r,t,o,c){e[a]("sendExecError",n,r,t,o,c)},n.addEventListener("error",function(n){e[a]("sendError",n)},!0),o=n.createElement(r),c=n.getElementsByTagName(r)[0],o.async=1,o.src=t,c.parentNode.insertBefore(o,c)}(window,document,"script",_taConfig.url,"$ta");
        $ta('start', { udata: { uid: 0 }, ak: _taConfig.ak, url: _taConfig.collectorUrl });
      }
    </script>
  </head>

  <body>
    <div id="root"></div>
    <noscript>
      <h2>此页面需要运行JavaScript，请在浏览器设置中启用</h2>
    </noscript>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/sw.js');
        });
      }
    </script>

    <script src="//at.alicdn.com/t/font_1157118_wqu34qrwms.js" async></script>
  </body>
</html>
