.about {
  .about-header {
    height: 318px;
    @include bgImage("about", "gywm");
    background-size: 680px 318px;
  }

  .about-dice {
    display: flex;
    justify-content: space-between;

    .about-dice-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 160px;

      img {
        width: 80px;
        height: 80px;
      }

      span {
        width: 100%;
        margin-top: 12px;
        color: $text-sub;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  .service-case-img {
    display: block;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 80px;
  }
}

@include sm-width() {
  .about {
    .about-header {
      height: 215px;
      background-size: 340px 156px;
    }

    .about-dice {
      flex-direction: column;

      .about-dice-item {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
