.join-erda {
  padding-top: 0 !important;

  .full-width-header {
    background-image: radial-gradient(28% 104%, #3d33a7 1%, #2a0c5a 100%);
  }

  &-header {
    height: 330px;
    text-align: center;

    .title-name {
      color: $white;
      font-weight: bold;
      line-height: 1.75rem;
      text-align: center;
    }

    .title-desc {
      color: $white;
    }
  }

  .title {
    color: $color-dark-8;
    text-align: center;
  }
}
