.erda-contact-us {
  padding-top: 0 !important;

  .full-width-header {
    @include pageHeaderBg();
  }

  &-header {
    height: 330px;
    text-align: center;

    .title-name {
      color: $white;
      font-weight: bold;
      line-height: 1.75rem;
      text-align: center;
    }

    .title-desc {
      color: $white;
    }
  }

  .form-wrap {
    max-width: 600px;
    margin: 20px auto;
  }
}
