.site-header {
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $header-height;
  padding: 0.625rem 2.5rem;
  background-color: transparent;
  //transition: transform 0.5s, background-color 0.3s ease-in-out;
  transition: transform 0.5s, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  &-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
  }

  &.flex-header {
    background-color: $white;
    box-shadow: 0 4px 16px 2px rgba(92,77,237,0.08);
    .site-menu .ant-menu-horizontal .ant-menu-item a{
      color: $primary;
    }
    .site-loginpanel{
      .login-item > a{
        color: $primary;
      }
      .free-registration{
        color: $primary;
        border-color: $primary;
      }
    }
  }

  &.hide {
    transform: translateY(-$header-height);
  }

  .logo {
    display: flex;
    align-items: center;
    margin-right: 30px;

    i {
      margin-right: 5px;
      color: $primary;
      font-size: 48px;
    }

    span {
      color: $primary;
      font-size: 28px;
      font-family: LiGothicMed;
    }
  }

  @include sm-width() {
    height: $mobile-header-height;
    padding: 14px 16px;
    background: $white;

    &.hide {
      transform: translateY(-$mobile-header-height);
    }

    .logo {
      span {
        display: none;
      }
    }
  }
}
