.site-loginpanel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3.75rem;
  @include sm-width() {
    display: none;
  }

  .login-item {
    margin-left: 10px;
    cursor: pointer;

    > a {
      color: #F7F9FF;
    }
  }

  .free-registration{
    height: 32px;
    width: 96px;
    color: #F7F9FF;
    border: 1px solid #F7F9FF;
    border-radius: 16px;
    line-height: 30px;
    text-align: center;
  }
}
