// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$alkfnl-2x-name: "alkfnl@2x";
$alkfnl-2x-x: 0px;
$alkfnl-2x-y: 60px;
$alkfnl-2x-offset-x: 0px;
$alkfnl-2x-offset-y: -60px;
$alkfnl-2x-width: 24px;
$alkfnl-2x-height: 24px;
$alkfnl-2x-total-width: 128px;
$alkfnl-2x-total-height: 108px;
$alkfnl-2x-image: "images/sprites/sprite-common.png";
$alkfnl-2x: (0px, 60px, 0px, -60px, 24px, 24px, 128px, 108px, "images/sprites/sprite-common.png", "alkfnl@2x", );
$api-2x-name: "api@2x";
$api-2x-x: 24px;
$api-2x-y: 60px;
$api-2x-offset-x: -24px;
$api-2x-offset-y: -60px;
$api-2x-width: 24px;
$api-2x-height: 24px;
$api-2x-total-width: 128px;
$api-2x-total-height: 108px;
$api-2x-image: "images/sprites/sprite-common.png";
$api-2x: (24px, 60px, -24px, -60px, 24px, 24px, 128px, 108px, "images/sprites/sprite-common.png", "api@2x", );
$bty-2x-name: "bty@2x";
$bty-2x-x: 0px;
$bty-2x-y: 0px;
$bty-2x-offset-x: 0px;
$bty-2x-offset-y: 0px;
$bty-2x-width: 64px;
$bty-2x-height: 20px;
$bty-2x-total-width: 128px;
$bty-2x-total-height: 108px;
$bty-2x-image: "images/sprites/sprite-common.png";
$bty-2x: (0px, 0px, 0px, 0px, 64px, 20px, 128px, 108px, "images/sprites/sprite-common.png", "bty@2x", );
$bty2-2x-name: "bty2@2x";
$bty2-2x-x: 0px;
$bty2-2x-y: 20px;
$bty2-2x-offset-x: 0px;
$bty2-2x-offset-y: -20px;
$bty2-2x-width: 64px;
$bty2-2x-height: 20px;
$bty2-2x-total-width: 128px;
$bty2-2x-total-height: 108px;
$bty2-2x-image: "images/sprites/sprite-common.png";
$bty2-2x: (0px, 20px, 0px, -20px, 64px, 20px, 128px, 108px, "images/sprites/sprite-common.png", "bty2@2x", );
$btz-2x-name: "btz@2x";
$btz-2x-x: 0px;
$btz-2x-y: 40px;
$btz-2x-offset-x: 0px;
$btz-2x-offset-y: -40px;
$btz-2x-width: 64px;
$btz-2x-height: 20px;
$btz-2x-total-width: 128px;
$btz-2x-total-height: 108px;
$btz-2x-image: "images/sprites/sprite-common.png";
$btz-2x: (0px, 40px, 0px, -40px, 64px, 20px, 128px, 108px, "images/sprites/sprite-common.png", "btz@2x", );
$btz2-2x-name: "btz2@2x";
$btz2-2x-x: 64px;
$btz2-2x-y: 0px;
$btz2-2x-offset-x: -64px;
$btz2-2x-offset-y: 0px;
$btz2-2x-width: 64px;
$btz2-2x-height: 20px;
$btz2-2x-total-width: 128px;
$btz2-2x-total-height: 108px;
$btz2-2x-image: "images/sprites/sprite-common.png";
$btz2-2x: (64px, 0px, -64px, 0px, 64px, 20px, 128px, 108px, "images/sprites/sprite-common.png", "btz2@2x", );
$dsjs-2x-name: "dsjs@2x";
$dsjs-2x-x: 48px;
$dsjs-2x-y: 60px;
$dsjs-2x-offset-x: -48px;
$dsjs-2x-offset-y: -60px;
$dsjs-2x-width: 24px;
$dsjs-2x-height: 24px;
$dsjs-2x-total-width: 128px;
$dsjs-2x-total-height: 108px;
$dsjs-2x-image: "images/sprites/sprite-common.png";
$dsjs-2x: (48px, 60px, -48px, -60px, 24px, 24px, 128px, 108px, "images/sprites/sprite-common.png", "dsjs@2x", );
$hhy-2x-name: "hhy@2x";
$hhy-2x-x: 90px;
$hhy-2x-y: 20px;
$hhy-2x-offset-x: -90px;
$hhy-2x-offset-y: -20px;
$hhy-2x-width: 25px;
$hhy-2x-height: 24px;
$hhy-2x-total-width: 128px;
$hhy-2x-total-height: 108px;
$hhy-2x-image: "images/sprites/sprite-common.png";
$hhy-2x: (90px, 20px, -90px, -20px, 25px, 24px, 128px, 108px, "images/sprites/sprite-common.png", "hhy@2x", );
$k-2x-name: "k@2x";
$k-2x-x: 72px;
$k-2x-y: 60px;
$k-2x-offset-x: -72px;
$k-2x-offset-y: -60px;
$k-2x-width: 24px;
$k-2x-height: 24px;
$k-2x-total-width: 128px;
$k-2x-total-height: 108px;
$k-2x-image: "images/sprites/sprite-common.png";
$k-2x: (72px, 60px, -72px, -60px, 24px, 24px, 128px, 108px, "images/sprites/sprite-common.png", "k@2x", );
$ksj-2x-name: "ksj@2x";
$ksj-2x-x: 96px;
$ksj-2x-y: 60px;
$ksj-2x-offset-x: -96px;
$ksj-2x-offset-y: -60px;
$ksj-2x-width: 24px;
$ksj-2x-height: 24px;
$ksj-2x-total-width: 128px;
$ksj-2x-total-height: 108px;
$ksj-2x-image: "images/sprites/sprite-common.png";
$ksj-2x: (96px, 60px, -96px, -60px, 24px, 24px, 128px, 108px, "images/sprites/sprite-common.png", "ksj@2x", );
$lsxs-2x-name: "lsxs@2x";
$lsxs-2x-x: 0px;
$lsxs-2x-y: 84px;
$lsxs-2x-offset-x: 0px;
$lsxs-2x-offset-y: -84px;
$lsxs-2x-width: 24px;
$lsxs-2x-height: 24px;
$lsxs-2x-total-width: 128px;
$lsxs-2x-total-height: 108px;
$lsxs-2x-image: "images/sprites/sprite-common.png";
$lsxs-2x: (0px, 84px, 0px, -84px, 24px, 24px, 128px, 108px, "images/sprites/sprite-common.png", "lsxs@2x", );
$wfw-2x-name: "wfw@2x";
$wfw-2x-x: 24px;
$wfw-2x-y: 84px;
$wfw-2x-offset-x: -24px;
$wfw-2x-offset-y: -84px;
$wfw-2x-width: 24px;
$wfw-2x-height: 24px;
$wfw-2x-total-width: 128px;
$wfw-2x-total-height: 108px;
$wfw-2x-image: "images/sprites/sprite-common.png";
$wfw-2x: (24px, 84px, -24px, -84px, 24px, 24px, 128px, 108px, "images/sprites/sprite-common.png", "wfw@2x", );
$xbt-2x-name: "xbt@2x";
$xbt-2x-x: 64px;
$xbt-2x-y: 20px;
$xbt-2x-offset-x: -64px;
$xbt-2x-offset-y: -20px;
$xbt-2x-width: 26px;
$xbt-2x-height: 26px;
$xbt-2x-total-width: 128px;
$xbt-2x-total-height: 108px;
$xbt-2x-image: "images/sprites/sprite-common.png";
$xbt-2x: (64px, 20px, -64px, -20px, 26px, 26px, 128px, 108px, "images/sprites/sprite-common.png", "xbt@2x", );
$ydyy-2x-name: "ydyy@2x";
$ydyy-2x-x: 48px;
$ydyy-2x-y: 84px;
$ydyy-2x-offset-x: -48px;
$ydyy-2x-offset-y: -84px;
$ydyy-2x-width: 24px;
$ydyy-2x-height: 24px;
$ydyy-2x-total-width: 128px;
$ydyy-2x-total-height: 108px;
$ydyy-2x-image: "images/sprites/sprite-common.png";
$ydyy-2x: (48px, 84px, -48px, -84px, 24px, 24px, 128px, 108px, "images/sprites/sprite-common.png", "ydyy@2x", );
$ywnls-2x-name: "ywnls@2x";
$ywnls-2x-x: 72px;
$ywnls-2x-y: 84px;
$ywnls-2x-offset-x: -72px;
$ywnls-2x-offset-y: -84px;
$ywnls-2x-width: 24px;
$ywnls-2x-height: 24px;
$ywnls-2x-total-width: 128px;
$ywnls-2x-total-height: 108px;
$ywnls-2x-image: "images/sprites/sprite-common.png";
$ywnls-2x: (72px, 84px, -72px, -84px, 24px, 24px, 128px, 108px, "images/sprites/sprite-common.png", "ywnls@2x", );
$zjjs-2x-name: "zjjs@2x";
$zjjs-2x-x: 96px;
$zjjs-2x-y: 84px;
$zjjs-2x-offset-x: -96px;
$zjjs-2x-offset-y: -84px;
$zjjs-2x-width: 24px;
$zjjs-2x-height: 24px;
$zjjs-2x-total-width: 128px;
$zjjs-2x-total-height: 108px;
$zjjs-2x-image: "images/sprites/sprite-common.png";
$zjjs-2x: (96px, 84px, -96px, -84px, 24px, 24px, 128px, 108px, "images/sprites/sprite-common.png", "zjjs@2x", );
$spritesheet-width: 128px;
$spritesheet-height: 108px;
$spritesheet-image: "images/sprites/sprite-common.png";
$spritesheet-sprites: ($alkfnl-2x, $api-2x, $bty-2x, $bty2-2x, $btz-2x, $btz2-2x, $dsjs-2x, $hhy-2x, $k-2x, $ksj-2x, $lsxs-2x, $wfw-2x, $xbt-2x, $ydyy-2x, $ywnls-2x, $zjjs-2x, );
$spritesheet: (128px, 108px, "images/sprites/sprite-common.png", $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  @include sprite-background-size($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
