// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$alkfnl-2x-name: "alkfnl@2x";
$alkfnl-2x-x: 0px;
$alkfnl-2x-y: 92px;
$alkfnl-2x-offset-x: 0px;
$alkfnl-2x-offset-y: -92px;
$alkfnl-2x-width: 24px;
$alkfnl-2x-height: 24px;
$alkfnl-2x-total-width: 152px;
$alkfnl-2x-total-height: 140px;
$alkfnl-2x-image: "/images/sprites/sprite-common.png";
$alkfnl-2x: (0px, 92px, 0px, -92px, 24px, 24px, 152px, 140px, "/images/sprites/sprite-common.png", "alkfnl@2x", );
$api-2x-name: "api@2x";
$api-2x-x: 24px;
$api-2x-y: 92px;
$api-2x-offset-x: -24px;
$api-2x-offset-y: -92px;
$api-2x-width: 24px;
$api-2x-height: 24px;
$api-2x-total-width: 152px;
$api-2x-total-height: 140px;
$api-2x-image: "/images/sprites/sprite-common.png";
$api-2x: (24px, 92px, -24px, -92px, 24px, 24px, 152px, 140px, "/images/sprites/sprite-common.png", "api@2x", );
$bty-2x-name: "bty@2x";
$bty-2x-x: 0px;
$bty-2x-y: 0px;
$bty-2x-offset-x: 0px;
$bty-2x-offset-y: 0px;
$bty-2x-width: 64px;
$bty-2x-height: 20px;
$bty-2x-total-width: 152px;
$bty-2x-total-height: 140px;
$bty-2x-image: "/images/sprites/sprite-common.png";
$bty-2x: (0px, 0px, 0px, 0px, 64px, 20px, 152px, 140px, "/images/sprites/sprite-common.png", "bty@2x", );
$bty2-2x-name: "bty2@2x";
$bty2-2x-x: 0px;
$bty2-2x-y: 20px;
$bty2-2x-offset-x: 0px;
$bty2-2x-offset-y: -20px;
$bty2-2x-width: 64px;
$bty2-2x-height: 20px;
$bty2-2x-total-width: 152px;
$bty2-2x-total-height: 140px;
$bty2-2x-image: "/images/sprites/sprite-common.png";
$bty2-2x: (0px, 20px, 0px, -20px, 64px, 20px, 152px, 140px, "/images/sprites/sprite-common.png", "bty2@2x", );
$btz-2x-name: "btz@2x";
$btz-2x-x: 0px;
$btz-2x-y: 40px;
$btz-2x-offset-x: 0px;
$btz-2x-offset-y: -40px;
$btz-2x-width: 64px;
$btz-2x-height: 20px;
$btz-2x-total-width: 152px;
$btz-2x-total-height: 140px;
$btz-2x-image: "/images/sprites/sprite-common.png";
$btz-2x: (0px, 40px, 0px, -40px, 64px, 20px, 152px, 140px, "/images/sprites/sprite-common.png", "btz@2x", );
$btz2-2x-name: "btz2@2x";
$btz2-2x-x: 64px;
$btz2-2x-y: 0px;
$btz2-2x-offset-x: -64px;
$btz2-2x-offset-y: 0px;
$btz2-2x-width: 64px;
$btz2-2x-height: 20px;
$btz2-2x-total-width: 152px;
$btz2-2x-total-height: 140px;
$btz2-2x-image: "/images/sprites/sprite-common.png";
$btz2-2x: (64px, 0px, -64px, 0px, 64px, 20px, 152px, 140px, "/images/sprites/sprite-common.png", "btz2@2x", );
$dsjs-2x-name: "dsjs@2x";
$dsjs-2x-x: 48px;
$dsjs-2x-y: 92px;
$dsjs-2x-offset-x: -48px;
$dsjs-2x-offset-y: -92px;
$dsjs-2x-width: 24px;
$dsjs-2x-height: 24px;
$dsjs-2x-total-width: 152px;
$dsjs-2x-total-height: 140px;
$dsjs-2x-image: "/images/sprites/sprite-common.png";
$dsjs-2x: (48px, 92px, -48px, -92px, 24px, 24px, 152px, 140px, "/images/sprites/sprite-common.png", "dsjs@2x", );
$hhy-2x-name: "hhy@2x";
$hhy-2x-x: 90px;
$hhy-2x-y: 60px;
$hhy-2x-offset-x: -90px;
$hhy-2x-offset-y: -60px;
$hhy-2x-width: 25px;
$hhy-2x-height: 24px;
$hhy-2x-total-width: 152px;
$hhy-2x-total-height: 140px;
$hhy-2x-image: "/images/sprites/sprite-common.png";
$hhy-2x: (90px, 60px, -90px, -60px, 25px, 24px, 152px, 140px, "/images/sprites/sprite-common.png", "hhy@2x", );
$icon-dev-name: "icon-dev";
$icon-dev-x: 64px;
$icon-dev-y: 20px;
$icon-dev-offset-x: -64px;
$icon-dev-offset-y: -20px;
$icon-dev-width: 32px;
$icon-dev-height: 32px;
$icon-dev-total-width: 152px;
$icon-dev-total-height: 140px;
$icon-dev-image: "/images/sprites/sprite-common.png";
$icon-dev: (64px, 20px, -64px, -20px, 32px, 32px, 152px, 140px, "/images/sprites/sprite-common.png", "icon-dev", );
$icon-duoyun-name: "icon-duoyun";
$icon-duoyun-x: 96px;
$icon-duoyun-y: 20px;
$icon-duoyun-offset-x: -96px;
$icon-duoyun-offset-y: -20px;
$icon-duoyun-width: 32px;
$icon-duoyun-height: 32px;
$icon-duoyun-total-width: 152px;
$icon-duoyun-total-height: 140px;
$icon-duoyun-image: "/images/sprites/sprite-common.png";
$icon-duoyun: (96px, 20px, -96px, -20px, 32px, 32px, 152px, 140px, "/images/sprites/sprite-common.png", "icon-duoyun", );
$icon-ksj-name: "icon-ksj";
$icon-ksj-x: 0px;
$icon-ksj-y: 60px;
$icon-ksj-offset-x: 0px;
$icon-ksj-offset-y: -60px;
$icon-ksj-width: 32px;
$icon-ksj-height: 32px;
$icon-ksj-total-width: 152px;
$icon-ksj-total-height: 140px;
$icon-ksj-image: "/images/sprites/sprite-common.png";
$icon-ksj: (0px, 60px, 0px, -60px, 32px, 32px, 152px, 140px, "/images/sprites/sprite-common.png", "icon-ksj", );
$icon-wfw-name: "icon-wfw";
$icon-wfw-x: 32px;
$icon-wfw-y: 60px;
$icon-wfw-offset-x: -32px;
$icon-wfw-offset-y: -60px;
$icon-wfw-width: 32px;
$icon-wfw-height: 32px;
$icon-wfw-total-width: 152px;
$icon-wfw-total-height: 140px;
$icon-wfw-image: "/images/sprites/sprite-common.png";
$icon-wfw: (32px, 60px, -32px, -60px, 32px, 32px, 152px, 140px, "/images/sprites/sprite-common.png", "icon-wfw", );
$k-2x-name: "k@2x";
$k-2x-x: 72px;
$k-2x-y: 92px;
$k-2x-offset-x: -72px;
$k-2x-offset-y: -92px;
$k-2x-width: 24px;
$k-2x-height: 24px;
$k-2x-total-width: 152px;
$k-2x-total-height: 140px;
$k-2x-image: "/images/sprites/sprite-common.png";
$k-2x: (72px, 92px, -72px, -92px, 24px, 24px, 152px, 140px, "/images/sprites/sprite-common.png", "k@2x", );
$ksj-2x-name: "ksj@2x";
$ksj-2x-x: 96px;
$ksj-2x-y: 92px;
$ksj-2x-offset-x: -96px;
$ksj-2x-offset-y: -92px;
$ksj-2x-width: 24px;
$ksj-2x-height: 24px;
$ksj-2x-total-width: 152px;
$ksj-2x-total-height: 140px;
$ksj-2x-image: "/images/sprites/sprite-common.png";
$ksj-2x: (96px, 92px, -96px, -92px, 24px, 24px, 152px, 140px, "/images/sprites/sprite-common.png", "ksj@2x", );
$lsxs-2x-name: "lsxs@2x";
$lsxs-2x-x: 128px;
$lsxs-2x-y: 0px;
$lsxs-2x-offset-x: -128px;
$lsxs-2x-offset-y: 0px;
$lsxs-2x-width: 24px;
$lsxs-2x-height: 24px;
$lsxs-2x-total-width: 152px;
$lsxs-2x-total-height: 140px;
$lsxs-2x-image: "/images/sprites/sprite-common.png";
$lsxs-2x: (128px, 0px, -128px, 0px, 24px, 24px, 152px, 140px, "/images/sprites/sprite-common.png", "lsxs@2x", );
$wfw-2x-name: "wfw@2x";
$wfw-2x-x: 128px;
$wfw-2x-y: 24px;
$wfw-2x-offset-x: -128px;
$wfw-2x-offset-y: -24px;
$wfw-2x-width: 24px;
$wfw-2x-height: 24px;
$wfw-2x-total-width: 152px;
$wfw-2x-total-height: 140px;
$wfw-2x-image: "/images/sprites/sprite-common.png";
$wfw-2x: (128px, 24px, -128px, -24px, 24px, 24px, 152px, 140px, "/images/sprites/sprite-common.png", "wfw@2x", );
$xbt-2x-name: "xbt@2x";
$xbt-2x-x: 64px;
$xbt-2x-y: 60px;
$xbt-2x-offset-x: -64px;
$xbt-2x-offset-y: -60px;
$xbt-2x-width: 26px;
$xbt-2x-height: 26px;
$xbt-2x-total-width: 152px;
$xbt-2x-total-height: 140px;
$xbt-2x-image: "/images/sprites/sprite-common.png";
$xbt-2x: (64px, 60px, -64px, -60px, 26px, 26px, 152px, 140px, "/images/sprites/sprite-common.png", "xbt@2x", );
$ydyy-2x-name: "ydyy@2x";
$ydyy-2x-x: 128px;
$ydyy-2x-y: 48px;
$ydyy-2x-offset-x: -128px;
$ydyy-2x-offset-y: -48px;
$ydyy-2x-width: 24px;
$ydyy-2x-height: 24px;
$ydyy-2x-total-width: 152px;
$ydyy-2x-total-height: 140px;
$ydyy-2x-image: "/images/sprites/sprite-common.png";
$ydyy-2x: (128px, 48px, -128px, -48px, 24px, 24px, 152px, 140px, "/images/sprites/sprite-common.png", "ydyy@2x", );
$ywnls-2x-name: "ywnls@2x";
$ywnls-2x-x: 128px;
$ywnls-2x-y: 72px;
$ywnls-2x-offset-x: -128px;
$ywnls-2x-offset-y: -72px;
$ywnls-2x-width: 24px;
$ywnls-2x-height: 24px;
$ywnls-2x-total-width: 152px;
$ywnls-2x-total-height: 140px;
$ywnls-2x-image: "/images/sprites/sprite-common.png";
$ywnls-2x: (128px, 72px, -128px, -72px, 24px, 24px, 152px, 140px, "/images/sprites/sprite-common.png", "ywnls@2x", );
$zjjs-2x-name: "zjjs@2x";
$zjjs-2x-x: 0px;
$zjjs-2x-y: 116px;
$zjjs-2x-offset-x: 0px;
$zjjs-2x-offset-y: -116px;
$zjjs-2x-width: 24px;
$zjjs-2x-height: 24px;
$zjjs-2x-total-width: 152px;
$zjjs-2x-total-height: 140px;
$zjjs-2x-image: "/images/sprites/sprite-common.png";
$zjjs-2x: (0px, 116px, 0px, -116px, 24px, 24px, 152px, 140px, "/images/sprites/sprite-common.png", "zjjs@2x", );
$spritesheet-width: 152px;
$spritesheet-height: 140px;
$spritesheet-image: "/images/sprites/sprite-common.png";
$spritesheet-sprites: ($alkfnl-2x, $api-2x, $bty-2x, $bty2-2x, $btz-2x, $btz2-2x, $dsjs-2x, $hhy-2x, $icon-dev, $icon-duoyun, $icon-ksj, $icon-wfw, $k-2x, $ksj-2x, $lsxs-2x, $wfw-2x, $xbt-2x, $ydyy-2x, $ywnls-2x, $zjjs-2x, );
$spritesheet: (152px, 140px, "/images/sprites/sprite-common.png", $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  @include sprite-background-size($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
